[Desktop Action Format]
Exec=kfloppy %u
Icon=kfloppy
Name=Format
Name[br]=Furmadiñ
Name[eo]=Formato
Name[es]=Formatear
Name[ga]=Formáid

[Desktop Entry]
Actions=Format;
ServiceTypes=media/floppy_unmounted,media/floppy5_unmounted
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true
