[Desktop Action Format]
Exec=kfloppy %u
Icon=kfloppy
Name=Format
Name[ar]=تهيئة
Name[bg]=Форматиране
Name[br]=Furmadiñ
Name[ca]=Dona format
Name[cs]=Formátovat
Name[cy]=Fformat
Name[de]=Formatieren
Name[el]=Διαμόρφωση
Name[eo]=Formato
Name[es]=Formatear
Name[et]=Vorminda
Name[fa]=قالب‌بندی
Name[fr]=Formater
Name[ga]=Formáid
Name[he]=פורמט
Name[hu]=Formázás
Name[is]=Forsníða
Name[it]=Formatta
Name[ja]=フォーマット
Name[ka]=ფორმატი
Name[kk]=Дискетаны пішімдеу
Name[km]=ធ្វើ​ទ្រង់ទ្រាយ
Name[lt]=Formatas
Name[nds]=Formateren
Name[ne]=ढाँचा
Name[nl]=Formatteren
Name[nn]=Formater
Name[pa]=ਫਾਰਮਿਟ
Name[pl]=Formatuj
Name[pt]=Formatar
Name[pt_BR]=Formatar
Name[ru]=Форматирование дискет
Name[rw]=Imiterere
Name[sk]=Formátovanie
Name[sl]=Formatiraj
Name[sr]=Форматирај
Name[sr@Latn]=Formatiraj
Name[tr]=Biçimlendir
Name[uk]=Форматування
Name[uz]=Formatlash
Name[uz@cyrillic]=Форматлаш
Name[wa]=Abwesner
Name[zh_CN]=格式化
Name[zh_TW]=格式化

[Desktop Entry]
Actions=Format;
ServiceTypes=media/floppy_unmounted,media/floppy5_unmounted
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true
