[Desktop Action Format]
Exec=kfloppy %u
Icon=kfloppy
Name=Format
Name[br]=Furmadiñ
Name[cy]=Fformat
Name[eo]=Formato
Name[es]=Formatear
Name[ga]=Formáid
Name[it]=Formatta
Name[pt_BR]=Formatar
Name[rw]=Imiterere

[Desktop Entry]
Actions=Format;
ServiceTypes=media/floppy_unmounted,media/floppy5_unmounted
X-KDE-Priority=TopLevel
X-KDE-MediaNotifierHide=true
