[Desktop Entry]
GenericName=Floppy Formatter
Name=KFloppy
MimeType=
X-DocPath=kfloppy/index.html
Exec=kfloppy -caption "%c"
Icon=kfloppy
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;
