[Desktop Entry]
GenericName=Floppy Formatter
GenericName[af]=Sagteskyf Formateerder
GenericName[ar]=مهئ الأقراص المرنة
GenericName[az]=Disket Şəkilləndirici
GenericName[bg]=Форматиране на дискети
GenericName[br]=Furmader pladennig
GenericName[bs]=Formatiranje disketa
GenericName[ca]=Formatador de disquet
GenericName[cs]=Formátovač disket
GenericName[cy]=Fformatio Disg Meddal
GenericName[da]=Disketteformatering
GenericName[de]=Diskettenformatierer
GenericName[el]=Εργαλείο διαμόρφωσης δισκέτας
GenericName[eo]=Formatilo por disketoj
GenericName[es]=Formateador de disquetes
GenericName[et]=Diskettide vormindamise utiliit
GenericName[eu]=Diskete Eratzailea
GenericName[fa]=قالب‌بندی‌کنندۀ فلاپی
GenericName[fi]=Levykkeiden alustusohjelma
GenericName[fr]=Outil de formatage de disquette
GenericName[ga]=Uirlis Fhormáidithe Dioscaí Boga
GenericName[gl]=Formatador de Disquetes
GenericName[he]=מאתחל תקליטונים
GenericName[hi]=फ़्लॉपी फार्मेटर
GenericName[hr]=Formatiranje disketa
GenericName[hu]=Floppy-formázó
GenericName[id]=Pemformat disket
GenericName[is]=Tól til að forsníða disklinga
GenericName[it]=Formattatore di dischetti
GenericName[ja]=フロッピーをフォーマット
GenericName[ka]=დისკეტის დამფორმატებელი
GenericName[kk]=Иілгіш дискін пішімдеу
GenericName[km]=កម្មវិធី​ធ្វើទ្រង់ទ្រាយ​ថាស់ទន់
GenericName[ko]=플로피 디스크를 포맷해주는 도구
GenericName[lt]=Diskelio formatavimas
GenericName[lv]=Diskešu Formatētājs
GenericName[mk]=Форматирање на дискети
GenericName[ms]=Pengformat Cakera Liut
GenericName[mt]=Għodda biex tifformattja floppies
GenericName[nb]=Diskettformaterer
GenericName[nds]=Diskettformaterer
GenericName[ne]=फ्लपी ढाँचाकर्ता
GenericName[nl]=Diskettes formatteren
GenericName[nn]=Formaterer diskettar
GenericName[pa]=ਫਲਾਪੀ ਫਾਰਮਿਟਰ
GenericName[pl]=Program formatujący dyskietki
GenericName[pt]=Formatação de Disquetes
GenericName[pt_BR]=Formatador de disquetes
GenericName[ro]=Formator floppy-disc-uri
GenericName[ru]=Форматирование дискет
GenericName[sk]=Formátovanie diskiet
GenericName[sl]=Formatiranje disket
GenericName[sr]=Форматирање дискета
GenericName[sr@Latn]=Formatiranje disketa
GenericName[sv]=Formatera disketter
GenericName[ta]=நெகிழ்வட்டு வடிவமைப்பான்
GenericName[tg]=Шаклбанднамоии Диски Нарм
GenericName[th]=เครื่องมือฟอร์แมตแผ่นฟลอปปี้้
GenericName[tr]=Disket Biçimlendirici
GenericName[uk]=Відформатувати дискету
GenericName[uz]=Disketni formatlagich
GenericName[uz@cyrillic]=Дискетни форматлагич
GenericName[ven]=Muvhekanyi wa Floppy
GenericName[vi]=Trình định dạng đĩa 
GenericName[wa]=Usteye po-z abwesner des plaketes
GenericName[xh]=Floppy formata
GenericName[zh_CN]=软盘格式化程序
GenericName[zh_TW]=軟碟格式化程式
GenericName[zu]=Umakhi we-floppy
Name=KFloppy
Name[af]=Kfloppie
Name[eo]=Disketingo
Name[hi]=के-फ़्लॉपी
Name[lv]=KMīkstnis
Name[ne]=केडीई फ्लपी
Name[pa]=ਕਫਲਾਪੀ
Name[pl]=Dyskietka
Name[pt_BR]=Disquete
Name[sv]=Kfloppy
Name[ta]=கேநெகிழ்வட்டு
Name[tg]=KДиски Нарм
Name[th]=ฟอร์แมตฟลอปปี้
Name[tr]=Disket Biçimlendirici
Name[wa]=KPlakete
Name[zh_TW]=KDE 軟碟
MimeType=
DocPath=kfloppy/index.html
Exec=kfloppy -caption "%c" %i %m
Icon=kfloppy
Path=
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;
