[Desktop Entry]
Encoding=UTF-8
GenericName=Floppy Formatter
GenericName[af]=Sagteskyf Formateerder
GenericName[ar]=تجهيز الأقراص المرنة
GenericName[az]=Disket Şəkilləndirici
GenericName[bg]=Програма за форматиране на дискети
GenericName[br]=Furmader pladennig
GenericName[bs]=Formatiranje disketa
GenericName[ca]=Formatador de disquet
GenericName[cs]=Formátovač disket
GenericName[da]=Formaterer disketter
GenericName[de]=Diskettenformatierer
GenericName[el]=Μορφοποίηση Δισκέτας
GenericName[eo]=Formatilo por disketoj
GenericName[es]=Formateador de disquetes
GenericName[et]=Diskettide vormindamise utiliit
GenericName[eu]=Diskete Formateatzailea
GenericName[fi]=Levykkeiden alustusohjelma
GenericName[fr]=Outil de formatage de disquette
GenericName[gl]=Formatador de Disquetes
GenericName[he]=מאתחל תקליטונים
GenericName[hr]=Formatiranje disketa
GenericName[hu]=floppy-formázó
GenericName[id]=Pemformat disket
GenericName[is]=kfloppy:  Tól til að forsníða diskettur
GenericName[it]=Formattatore di dischetti
GenericName[ja]=フロッピーのフォーマット
GenericName[ko]=플로피 디스크를 포맷해주는 도구
GenericName[lt]=Diskelio formatavimas
GenericName[lv]=Diskešu Formatētājs
GenericName[mk]=Форматирање дискети
GenericName[mt]=Għodda biex tifformattja floppies
GenericName[nb]=Formaterer disketter
GenericName[nl]=formatteert diskettes (floppies)
GenericName[nn]=Formaterer diskettar
GenericName[oc]=Formatador de disquet
GenericName[pl]=Program formatujący dyskietki
GenericName[pt]=Formatador de Disquetes
GenericName[pt_BR]=Formatador de disquetes
GenericName[ro]=Formator floppy-disc-uri
GenericName[ru]=Программа для форматирования дискет
GenericName[sk]=Formátovanie diskiet
GenericName[sl]=Formatiranje disket
GenericName[sr]=Program za formatiranje disketa
GenericName[sv]=Formaterar disketter
GenericName[ta]=¦¿¸¢ú ÅðÎ ÅÊçðÊ
GenericName[th]=เครื่องมือฟอร์แมตแผ่นฟลอปปี
GenericName[tr]=Disket Biçimlendirici
GenericName[uk]=Відформатувати дискету
GenericName[ven]=Muvhekanyi wa Floppy
GenericName[vi]=Trình định dạng đĩa mềm
GenericName[wa]=Usteye po-z abwesner des plaketes
GenericName[xh]=Floppy formata
GenericName[xx]=xx
GenericName[zh_CN]=软盘格式化程序
GenericName[zh_TW]=軟碟格式化程式
GenericName[zu]=Floppy formatha
BinaryPattern=kfloppy;
Name=KFloppy
Name[af]=Kfloppie
Name[bg]=КФлопи
Name[eo]=Disketingo
Name[lv]=KMīkstnis
Name[pl]=Dyskietka
Name[pt_BR]=Disquete
Name[sv]=Kfloppy
Name[th]=ฟอร์แมตฟลอปปี - K
Name[tr]=Disket Biçimlendirici
Name[xx]=xx
Name[zh_TW]=KDE 軟碟
MimeType=
DocPath=kfloppy/index.html
Exec=kfloppy -caption "%c" %i %m
Icon=kfloppy
TerminalOptions=
Path=
Type=Application
Terminal=0
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
