[Desktop Entry]
GenericName=Floppy Formatter
GenericName[af]=Sagteskyf Formateerder
GenericName[ar]=مهئ الأقراص المرنة
GenericName[ast]=Formateador de disquettes
GenericName[bg]=Форматиране на дискети
GenericName[br]=Furmader pladennig
GenericName[bs]=Formatiranje disketa
GenericName[ca]=Formatador de disquets
GenericName[ca@valencia]=Formatador de disquets
GenericName[cs]=Formátovač disket
GenericName[cy]=Fformatio Disg Meddal
GenericName[da]=Disketteformatering
GenericName[de]=Diskettenformatierer
GenericName[el]=Εργαλείο διαμόρφωσης δισκέτας
GenericName[en_GB]=Floppy Formatter
GenericName[eo]=Formatilo por disketoj
GenericName[es]=Formateador de disquetes
GenericName[et]=Diskettide vormindamise utiliit
GenericName[eu]=Diskete-formateatzailea
GenericName[fa]=قالب‌بندی‌کننده فلاپی
GenericName[fi]=Levykkeiden alustusohjelma
GenericName[fr]=Outil de formatage de disquettes
GenericName[ga]=Uirlis Fhormáidithe Dioscaí Flapacha
GenericName[gl]=Formatador de disquetes
GenericName[he]=מאתחל תקליטונים
GenericName[hne]=फ्लापी फार्मेटर
GenericName[hr]=Formatiranje disketa
GenericName[hu]=Hajlékonylemez-formázó
GenericName[ia]=Formattator de floppy
GenericName[id]=Pemformat Disket
GenericName[is]=Tól til að forsníða disklinga
GenericName[it]=Formattatore di dischetti
GenericName[ja]=フロッピーをフォーマット
GenericName[kk]=Иілгіш дискін пішімдеу
GenericName[km]=កម្មវិធី​ធ្វើទ្រង់ទ្រាយ​ថាស​ទន់
GenericName[ko]=플로피 포맷 도구
GenericName[lt]=Diskelio formatavimas
GenericName[lv]=Diskešu formatētājs
GenericName[mk]=Форматирање на дискети
GenericName[mr]=फ्लॉपी फॉर्मेटर
GenericName[ms]=Pengformat Cakera Liut
GenericName[nb]=Diskettformaterer
GenericName[nds]=Diskettformaterer
GenericName[ne]=फ्लपी ढाँचाकर्ता
GenericName[nl]=Diskettes formatteren
GenericName[nn]=Diskettformatering
GenericName[oc]=Formataire de disquetas
GenericName[pa]=ਫਲਾਪੀ ਫਾਰਮੈਟਰ
GenericName[pl]=Program formatujący dyskietki
GenericName[pt]=Formatação de Disquetes
GenericName[pt_BR]=Formatador de disquete
GenericName[ro]=Formatator de dischete
GenericName[ru]=Форматирование дискет
GenericName[sk]=Formátovanie diskiet
GenericName[sl]=Formatiranje disket
GenericName[sq]=Formatuesi i Disketave
GenericName[sr]=Форматирање дискета
GenericName[sr@ijekavian]=Форматирање дискета
GenericName[sr@ijekavianlatin]=Formatiranje disketa
GenericName[sr@latin]=Formatiranje disketa
GenericName[sv]=Formatera disketter
GenericName[ta]=நெகிழ்வட்டு வடிவமைப்பான்
GenericName[tg]=Шаклбанднамоии Диски Нарм
GenericName[th]=เครื่องมือฟอร์แมตแผ่นฟลอปปี้้
GenericName[tr]=Disket Biçimlendirici
GenericName[ug]=يۇمشاق دىسكا پىچقۇچ
GenericName[uk]=Відформатувати дискету
GenericName[uz]=Disketni formatlagich
GenericName[uz@cyrillic]=Дискетни форматлагич
GenericName[vi]=Trình Định Dạng Đĩa Mềm
GenericName[wa]=Usteye po-z abwesner des plaketes
GenericName[xh]=Floppy formata
GenericName[x-test]=xxFloppy Formatterxx
GenericName[zh_CN]=软盘格式化程序
GenericName[zh_TW]=軟碟格式化程式
Name=KFloppy
Name[af]=Kfloppie
Name[ar]=كفلوبي
Name[ast]=KFloppy
Name[bg]=KFloppy
Name[br]=KFloppy
Name[bs]=KFloppy
Name[ca]=KFloppy
Name[ca@valencia]=KFloppy
Name[cs]=KFloppy
Name[cy]=KFloppy
Name[da]=KFloppy
Name[de]=KFloppy
Name[el]=KFloppy
Name[en_GB]=KFloppy
Name[eo]=KDisketo
Name[es]=KFloppy
Name[et]=KFloppy
Name[eu]=KFloppy
Name[fi]=KFloppy
Name[fr]=KFloppy
Name[ga]=KFloppy
Name[gl]=KFloppy
Name[he]=KFloppy
Name[hne]=के-फ्लापी
Name[hr]=KFloppy
Name[hu]=KFloppy
Name[ia]=KFloppy
Name[id]=KFloppy
Name[is]=KFloppy
Name[it]=KFloppy
Name[ja]=KFloppy
Name[kk]=KFloppy
Name[km]=KFloppy
Name[ko]=KFloppy
Name[lt]=KFloppy
Name[lv]=KFloppy
Name[mk]=KFloppy
Name[mr]=के-फ्लॉपी
Name[ms]=KFloppy
Name[nb]=KFloppy
Name[nds]=KFloppy
Name[ne]=केडीई फ्लपी
Name[nl]=KFloppy
Name[nn]=KFloppy
Name[pa]=ਕੇ-ਫਲਾਪੀ
Name[pl]=Dyskietka
Name[pt]=KFloppy
Name[pt_BR]=KFloppy
Name[ro]=KFloppy
Name[ru]=KFloppy
Name[sk]=KFloppy
Name[sl]=KFloppy
Name[sq]=KFloppy
Name[sr]=К‑флопи
Name[sr@ijekavian]=К‑флопи
Name[sr@ijekavianlatin]=K‑flopi
Name[sr@latin]=K‑flopi
Name[sv]=Kfloppy
Name[ta]=கேநெகிழ்வட்டு
Name[tg]=KДиски Нарм
Name[th]=ฟอร์แมตฟลอปปี้-K
Name[tr]=KFloppy
Name[ug]=KFloppy
Name[uk]=KFloppy
Name[uz]=KFloppy
Name[uz@cyrillic]=KFloppy
Name[vi]=KFloppy
Name[wa]=KPlakete
Name[xh]=KFloppy
Name[x-test]=xxKFloppyxx
Name[zh_CN]=KFloppy
Name[zh_TW]=KDE 軟碟
X-DocPath=kfloppy/index.html
Exec=kfloppy -qwindowtitle %c
Icon=kfloppy
Type=Application
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;
